{% macro render_field(field) %}
<dt>
    {% if field.type != "BooleanField" %}
    {{ field.label }}
    {% endif %}
    <dd class="ui-dd">
        {% if field.type == "DateField" %}
        <span class="ui-input-div">
            <input type='text' class="form-control ui-input-date" name="{{ field.id }}" id="{{ field.id }}" placeholder="dd/mm/yyyy" />
        </span><span class="ui-input-div" id="{{ field.id }}_button"></span>
        <script type="text/javascript">
            $("#" + {{ field.id | tojson }}).datepicker({
                showOn: 'both',
                buttonText: '<span class="ui-icon-calendar ui-icon date-picker-icon"></span>',
                dateFormat: 'dd/mm/yy'
            })
                .next("button").addClass("ui-button ui-input-btn").detach().appendTo("#" + {{ field.id | tojson }} + "_button");
        </script>
        {% elif field.type == "PasswordField" %}
        <input type='password' class="form-control ui-input" name="{{ field.id }}" id="{{ field.id }}" />
        {% elif field.type == "StringField" %}
        <input type='text' class="form-control ui-input" name="{{ field.id }}" id="{{ field.id }}" placeholder="{{ field.name }}" />
        {% elif field.type == "BooleanField" %}
        {{ field.label }}
        <label for="{{ field.id }}"><input type='checkbox' class="form-control ui-input-checkbox" name="{{ field.id }}" id="{{ field.id }} value="y" /></label>
        {% else %}
        {{ field(**kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </dd>
    <br>
    {% endmacro %}
