{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>You can login if you already have an account, or signup if you don't have one yet.</p>


<div id="accordion">
    <h3>Login</h3>
    <div>
        <div tag="Login" class="panel col-lg-12 text-center">
            <br />
            {% from "_formhelpers.html" import render_field %}
            <form action="login" method=post>
                {{ signupForm.hidden_tag() }}
                <dl>
                    <div class="input-group col-sm-12">
                    {{ render_field(loginForm.username) }}
                    {{ render_field(loginForm.password) }}
                    </div>
                </dl>
                {% if connError %}
                <p class="text-danger">{{ connError }}</p>
                {% endif %}
                <p><input class="ui-button ui-corner-all ui-widget" type=submit value=Login /></p>
            </form>
        </div>
    </div>
    <h3>Register</h3>
    <div>
        <div tag="Signup" class="panel col-lg-12 text-center">
            <br />
            {% from "_formhelpers.html" import render_field %}
            <form action="signup" method=post>
                {{ signupForm.hidden_tag() }}
                <dl>
                    <div class="input-group col-sm-12">
                    {{ render_field(signupForm.username) }}
                    {{ render_field(signupForm.password) }}
                    {{ render_field(signupForm.confirm) }}
                    <br />
                    {{ render_field(signupForm.firstName) }}
                    {{ render_field(signupForm.lastName) }}
                    {{ render_field(signupForm.birthDate) }}
                    <br />
                    {{ render_field(signupForm.email) }}
                    {{ render_field(signupForm.accept_tos) }}
                    </div>
                </dl>
                {% if connError %}
                <p class="text-danger">{{ connError }}</p>
                {% endif %}
                <p><input class="ui-button ui-corner-all ui-widget" type=submit value=Signup /></p>
            </form>
        </div>
    </div>
    <h3>Forgot Password</h3>
    <div>Nam dui erat, auctor a, dignissim quis.</div>
</div>
<script>
    $("#accordion").accordion();
</script>

{% endblock %}
