{% macro render_activities() %}
<p>Itinerary - Indonesia Trip</p>
<div class="row">
    <div class="container col-lg-12">
        <table class="fulltable fulltable-editable" id="activities-table">
            <thead>
                <tr>
                    <th fulltable-field-name="rowid">#</th>
                    <th fulltable-field-name="country">Country</th>
                    <th fulltable-field-name="city">City</th>
                    <th fulltable-field-name="activitytype">Activity Type</th>
                    <th fulltable-field-name="activity">Activity</th>
                    <th fulltable-field-name="lunch">Lunch Included</th>
                    <th fulltable-field-name="start">Start</th>
                    <th fulltable-field-name="end">End</th>
                    <th fulltable-field-name="duration">Durat.</th>
                    <th fulltable-field-name="description">Desc.</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <a href="#" class="button btn btn-danger" id="test-table-get-value">> Get value</a>
    </div>
</div>
<script>
    $("#activities-table").FullTable({
        "alwaysCreating": true,
        "selectable": true,
        "fields": {
            "rowid": {
                "type": "integer",
                "mandatory": false,
                "validator": function (id) {
                    if (id >= 0) {
                        return true;
                    } else {
                        return false;
                    }
                },
            },
            "country": {
                "options": [
                    {
                        "title": "Australia",
                        "value": "a"
                    },
                    {
                        "title": "Indonesia",
                        "value": "i"
                    }
                ],
                "mandatory": true,
                "placeholder": "Select one",
                "errors": {
                    "mandatory": "Country is Mandatory."
                }
            },
            "city": {
                "options": [
                    {
                        "title": "Adelaide",
                        "value": "aa"
                    },
                    {
                        "title": "Qatar",
                        "value": "iq"
                    }
                ],
                "mandatory": true,
                "placeholder": "Select one",
                "errors": {
                    "mandatory": "City is Mandatory."
                }
            },
            "activitytype": {
                "options": [
                    {
                        "title": "Sport",
                        "value": "sp"
                    },
                    {
                        "title": "Sightseeing",
                        "value": "si"
                    },
                    {
                        "title": "Transport",
                        "value": "tr"
                    },
                    {
                        "title": "Accommodation",
                        "value": "ac"
                    }
                ],
                "mandatory": true,
                "placeholder": "Select one",
                "errors": {
                    "mandatory": "Activity Type is Mandatory."
                }
            },
            "activity": {
                "options": [
                    {
                        "title": "Diving",
                        "value": "d"
                    },
                    {
                        "title": "Temples",
                        "value": "t"
                    },
                    {
                        "title": "Flight",
                        "value": "f"
                    },
                    {
                        "title": "Hotel",
                        "value": "h"
                    }
                ],
                "mandatory": true,
                "placeholder": "Select one",
                "errors": {
                    "mandatory": "Activity is Mandatory."
                }
            },
            "lunch": {
                "type": "boolean",
                "mandatory": false
            },
            "start": {
                "type": "date",
                "mandatory": false,
                "errors": {
                    "type": "Start Date must be a date",
                    "mandatory": "Start Date is mandatory"
                }
            },
            "end": {
                "type": "date",
                "mandatory": false,
                "errors": {
                    "type": "End Date must be a date",
                    "mandatory": "End Date is mandatory"
                }
            },
            "duration": {
                "type": "decimal",
                "mandatory": false,
                "validator": function (duration) {
                    if (duration >= 0.0) {
                        return true;
                    } else {
                        return false;
                    }
                },
                "errors": {
                    "type": "Duration must be a number",
                    "mandatory": "Duration is mandatory",
                    "validator": "Duration cannot be less than 0"
                }
            },
            "description": {
                "mandatory": false
            }
        }
    });
    $("#activities-table-add-row").click(function () {
        $("#activities-table").FullTable("addRow");
    });
    $("#activities-table-get-value").click(function () {
        console.log($("#activities-table").FullTable("getData"));
    });
    $("#activities-table").FullTable("on", "error", function (errors) {
        for (var error in errors) {
            error = errors[error];
            console.log(error);
        }
    });
    $("#activities-table").FullTable("draw");
</script>
{% endmacro %}
