body
{
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eeeeee;
}

.table {
    background: #212529 !important;
    color: white !important;
    border-radius: 5px;
}

td {
    background: white !important;
    color: #212529 !important;
}